{% extends 'base.html.twig' %}

{% block title %}Identification
{% endblock %}

{% block body %}


	<!-- ======= signin Section ======= -->
	<section id="signin" class="signin">
		<div class="container" data-aos="fade-up">
			<div class="center">
				<div class="section-title">
					<h2>Veuillez vous identifier</h2>
				</div>
				<div class="col-lg-6 mt-5 mt-lg-0">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Votre nom de code est:
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						{% endif %}

						<div class="form-row">
							<div class="col-md-6 form-group">
								<label class="center" for="email">Courriel</label>
								<input class="center" type="email" class="form-control" value="{{ last_username }}" name="email" id="email" placeholder="Votre adresse e&#769;lectronique" data-rule="email" data-msg="Veuillez rentrer une adresse e&#769;lectronique valide" required autofocus/>
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6 form-group">
								<label class="center" for="subject">Mot de passe</label>
								<input class="center" type="password" name="password" id="subject" class="form-control" placeholder="Mot de passe" required>
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6 form-group">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							</div>
						</div>
						<div class="center">
							<div class="text-center">
								<a href="{{ path('inscription') }}" style='color: #058f3e'>Engagez vous</a>
							</div>
						</div>
						<div class="center">
							<div class="text-center">
								<button class="btn btn-lg btn-primary" type="submit">S'identifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	{#
					        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					        See https://symfony.com/doc/current/security/remember_me.html
					
					        <div class="checkbox mb-3">
					            <label>
					                <input type="checkbox" name="_remember_me"> Remember me
					            </label>
					        </div>
					    #}

{% endblock %}
