{% extends 'base.html.twig' %}


{% block title %}Articles index
{% endblock %}

{% block body %}
	<!-- Main Content -->
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
	{% endfor %}

	<h1>Articles index</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 mx-auto">
				{% for article in articles %}
					<div class="d-flex justify-content-between">
						{# <div class="col-lg-5 col-md-5 mx-auto" > #}
							<img
							src="{{ vich_uploader_asset(article, 'imageFile') }}"  alt="" class="img-fluid" style=' width: 40%; object-fit: contain; display: table-cell; vertical-align: middle;'/>
						{# style='height: 30%; width: 30%; object-fit: contain'/> #}
						{# </div> #}

						<div class="post-preview">

							<a href="{{ path('articles_show', {'slug': article.slug}) }}">

								<h2 class="post-title">{{ article.titre }}</h2>
								<h3
									class="post-subtitle">
									{# {% for categorie in article.categories %}
																												{{ categorie.nom }}
																										{% endfor %} #}
									{{ article.contenu|firstSentence|raw}}
								{# {% set texte = {article.contenu|raw} %} #}
									{# {{texte}} #}
									{# |split('.')|first|raw}} #}

								</h3>
							</a>
							<div class="d-flex justify-content-between">
								<div>

									<p class="post-meta">Posté par
										<a href="#">{{article.users }}</a>
										le
										{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>

								</div>
								<div class="clearfix">
									<a class="btn btn-primary float-right" href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
								</div>
							</div>
						</div>
						<hr>
					</div>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}


				<!-- Pager -->
				<div class="d-flex justify-content-between">
					<div class="clearfix">
						<a class="btn btn-primary float-left" href="{{ path('articles_new') }}">Create new</a>
					</div>
					<div>{{ knp_pagination_render(articles) }}</div>
					<div class="clearfix">
						<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
