{% extends 'base.html.twig' %}

{% block title %}{{article.titre}}
{% endblock %}

{% block header %}
	<!-- Page Header -->
	<header class="masthead" style="background-image: url({{ vich_uploader_asset(article, 'imageFile') }})" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-heading">
						<h1>{{ article.titre }}</h1>
						<h2 class="subheading">{{ article.contenu|firstSentence|raw}}</h2>
						<span class="meta">Posté par
							<a href="#">{{article.users }}</a>
										le
										{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }} - Commentaires : {{ article.commentaires|length }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
    {% endblock %}
    {% block body %}
	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				{{article.contenu|raw}}
			</div>
		</div>
	</article>

	<hr>

    <p>Catégories : 
        {# {% for categorie in article.getCategoriesArticles() %}
            {{ categorie.nom }} 
        {% endfor %}	 #}

        
            {% for categorie in article.categories %}
                {{ categorie.nom }} 
            {% endfor %}
        </p>

    <h2>Commentaires</h2>

    
    {% for commentaire in article.commentaires %}
        <p>Commentaire écrit par {{ commentaire.pseudo }} le {{ commentaire.createdAt|date }}</p>
        <p>{{ commentaire.contenu }}</p>
    {% else %}
        <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
    {% endfor %}
    {{ form(form) }}





	{# <h1>Articles</h1>
	
	    <table class="table">
	        <tbody>
	            <tr>
	                <th>Id</th>
	                <td>{{ article.id }}</td>
	            </tr>
	            <tr>
	                <th>Titre</th>
	                <td>{{ article.titre }}</td>
	            </tr>
	            <tr>
	                <th>Slug</th>
	                <td>{{ article.slug }}</td>
	            </tr>
	            <tr>
	                <th>Contenu</th>
	                <td>{{ article.contenu|raw }}</td>
	            </tr>
	            <tr>
	                <th>Created_at</th>
	                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>Updated_at</th>
	                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>Featured_image</th>
	                <td>{{ article.featuredImage }}</td>
	            </tr>
	        </tbody>
	    </table>
	
	    <a href="{{ path('articles_index') }}">back to list</a>
	
	    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
	
	    {{ include('articles/_delete_form.html.twig') }} #}
{% endblock %}
